:root {
  --text-light: #000;
  --text-dark: #fff;
  --box-light: rgba(255,255,255,0.8);
  --box-dark: rgba(0,0,0,0.6);
}

::selection {
  background: red;
  color: #000000;
}

#title {
  color: #000000;
  font-family: 'Goldman', sans-serif;
  font-weight: 900;
  filter: drop-shadow(0 0 10px #ffffff);
  font-size: 50px;
  margin: -5px;
}

#des {
  color: black;
  font-family: 'Goldman', sans-serif;
  font-weight: 600;
  filter: drop-shadow(0 0 10px #ffffff);
}

/* GENEL */
body {
  margin: 0px;
  font-family: Arial, sans-serif;
  transition: background-image 0.6s ease, color 0.4s ease;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* LIGHT THEME (BAŞLANGIÇ) */
body.light {
  background-image: url("assets/light.png");
  color: var(--text-light);
}

/* DARK THEME */
body.dark {
  background-image: url("assets/dark.png");
  color: var(--text-dark);
}

/* TEMA BUTONU */
#themeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid wheat;
  cursor: pointer;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px);
  background: rgb(0 0 0);
  color: wheat;
  transition: 0.4s;
}

#themeBtn:hover {
  background:wheat;
  color: black;
  filter: drop-shadow(0 0 10px wheat);
  border: 2px solid #000000;
  scale: 1.2;
  rotate: -5deg;
}

#themeBtn:focus {
  background: black;
  color: wheat;
  border: 2px solid wheat;
}

/* ORTA ALAN */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 350px;
  margin-bottom: -50px;
  filter: drop-shadow(0 0 10px white);
}

/* SEARCH */
.search-box {
  width: 420px;
  padding: 14px 18px;
  border-radius: 30px;
  border: 2px solid black;
  outline: none;
  font-family: 'Goldman', sans-serif;
  font-weight: 700;
  background: wheat;
  filter: drop-shadow(0 0 10px wheat);
  font-size: 16px;
  margin-top: 8px;
  transition: 0.3s;
}

.search-box:focus {
  background: black;
  color: wheat;
  filter: drop-shadow(0 0 10px black);
  scale: 1.1;
  border: 2px solid wheat;
}

/* SONUÇLAR */
#results {
  margin-top: 30px;
  width: 900px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.result {
  margin-bottom: 12px;
  height: 120px;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  transition: transform 0.2s;
}

body.light .result {
  background: var(--box-light);
}

body.dark .result {
  background: var(--box-dark);
}

.result:hover {
  transform: translateY(-4px);
}

.result h3 {
  margin: 0;
  font-size: 16px;
}

.result p {
  margin: 6px 0 0;
  font-size: 13px;
  opacity: 0.8;
}

